#userForm-container {
    background-color: white;
    display: flex;
    justify-content: center;
}

#userForm-container > form {
    background-color: #e9e7e7;
    display: flex;
    flex-direction: column;
    height: 81vh;
    width: 33vw;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow-y: scroll;
}

#userForm-container > form::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#userForm-container > form::-webkit-scrollbar-track {
    background: transparent;
}

#userForm-container > form::-webkit-scrollbar-thumb {
    background: transparent;
}

#userForm-container > form > label {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Roboto';
    font-weight: bolder;
    width: 45%;
}

.edit-button {
    border: none;
    background-color:#e9e7e7;
    color: #173268;
    font-family: 'Roboto';
    font-weight: 450;
}

.edit-button:hover {
    cursor: pointer;
    font-weight: bold;
}

#delete-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112d66;
    height: 30px;
    font-family: 'Roboto';
    font-size: small;
    font-weight: 450;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 45%;
    border: none;
}

#delete-button:hover {
    cursor: pointer;
}
