.single-chart-style {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.single-root-div {
    display: flex;
    margin-top: 2px;
    background-color: #f3f3f3;
    height: 100vh;
}

.single-investment-chart {
    width: 40vw;
    height: 40.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: column;
    border-left: #112d66 solid 1px;
    border-right: #112d66 solid 1px;
    border-bottom: #112d66 solid 1px;
}
.single-investment-parent-div {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin: 5px;
    width: 13.3vw;
}

.single-new-investment-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112d66;
    height: 40px;
    font-family: 'Roboto';
    font-size: small;
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
}

.single-investment-child-div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#investments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 14px;
    color: #173268;
    margin-bottom: 3px;
    height: fit-content;
    font-weight: 450;
}

#investments:hover {
    cursor: pointer;
    color: #3b5b9b;
}

#single-chart-div {
    width: 40vw;
    background-color: #A7B0CA;
    font-family: 'Roboto';
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.single-chart-container {
    display: flex;
    margin-top: -23%;
    gap: 20px
}

.h1 {
    width: 92.9%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    font-family: "Roboto";
    border-bottom: solid rgb(199, 199, 199) 1px;
    margin-top: -.6%;
    font-weight: 700;
    border-bottom-right-radius: -10px;
    border-bottom-left-radius: -10px;

}

.single-investment-edit {
    width: 55px;
    padding: 2.5px;
    font-family: "Roboto";
    margin: 2px;
    border: none;
    background-color: #001f5e;
    color: white;
    font-weight: 400;
}

.single-investment-edit:hover {
    cursor: pointer;
}

.single-investment-delete {
    width: 55px;
    padding: 2.5px;
    font-family: "Roboto";
    margin: 2px;
    background-color: grey;
    border: none;
    color: white;
    font-weight: 400;
}

.single-investment-delete:hover {
    cursor: pointer;
}
