.chart-style {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.chart {
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: column;
    border-left: #A7B0CA solid 1px;
    border-right: #A7B0CA solid 1px;
    border-bottom: #A7B0CA solid 1px;

}

.investment-parent-div {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin: 5px;
    width: 19vw;
}

.new-investment-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112d66;
    height: 40px;
    font-family: 'Roboto';
    font-size: small;
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
}

.new-investment-button:hover {
    cursor: pointer;
}

.investment-child-div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#investments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 14px;
    color: #173268;
    margin-bottom: 3px;
    height: fit-content;
    font-weight: 450;
}

#investments:hover {
    cursor: pointer;
    color: #3b5b9b;
}

.root-div {
    display: flex;
    margin-top: 2px;
    background-color: #f3f3f3;
}

#chart-div {
    width: 40vw;
    background-color: #A7B0CA;
    font-family: 'Roboto';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 27px;
}

@media(max-width: 440px) {
    .investment-parent-div.active {
        position: absolute;
        z-index: 9999;
        width: fit-content;
        margin-left: relative;
        margin-top: 80px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    }
    .investment-parent-div.hidden {
        display: none;
    }

    .mobile-new-investment-button {
        border-bottom: solid black ;
        width: 100%;
        color: white;
        background-color: #112d66;
        height: 25px;
        font-family: 'Roboto';
        font-size: small;
    }
    .new-investment-button {
        display: none;
    }

    .h1-investments {
        width: 86.8%;
        border-bottom: none;
        font-family: 'Roboto';
        margin-top: -3px;
    }

    #investments {
        padding-left: 3px;
        padding-right: 3px;
    }

    .chart-papa-smurf{
        width: 86.8%;
    }
    .chart {
        width: 100%;
    }

    #chart-div {
        width: 100%;
    }


}

@media(min-width: 441px) {
    .mobile-button {
        display: none;
    }
    .mobile-new-investment-button {
        display: none;
    }
    .h1-investments {
        display: none;
    }
}
