#Modals {
    display: flex;
    justify-content: space-between;
    background-color: #125943;
    height: 7vh;
}

#a-tags {
    margin-left: 20px;
    display: flex;  
}

#a-tags > a {
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Modals > img:hover {
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout-button {
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112d66;
    height: 30px;
    width: 132px;
    font-family: 'Roboto';
    font-size: small; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;   
    outline: none;
    border: none;
}

#logout-button:hover {
    cursor: pointer;
    background-color: #173268;
}

#profile-button {
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112d66;
    height: 30px;
    width: 132px;
    font-family: 'Roboto';
    font-size: small;  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    border: none;
}

#profile-button:hover {
    cursor: pointer;
    background-color: #173268;
}

#signup-button {
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112d66;
    height: 30px;
    width: 132px;
    font-family: 'Roboto';
    font-size: small;  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;       
}

#signup-button:hover {
    cursor: pointer;
    background-color: #173268
}

#login-button {
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112d66;
    height: 30px;
    width: 132px;
    font-family: 'Roboto';
    font-size: small;    
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    border: none;
}

#login-button:hover {
    cursor: pointer;
    background-color: #173268;
}

.additional_nav {
    border-bottom: solid #A7B0CA 1px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 10vh;
    width: 11vw;
    margin-left: 20px;
}

.logo:hover {
    cursor: pointer;
}

.nav-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-2 > div {
    margin: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 2px 10px;
}

.nav-2 > div:hover {
    cursor: pointer;
}

.nav-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-3 > div {
    margin: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 2px 10px;
}

.nav-3 > div:hover {
    cursor: pointer;
}

.contact {
    margin: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 2px 10px;
    text-decoration: none;
    color: black;
}

.contact:hover {
    cursor: pointer;
}

@media (max-width: 721px) {
    #hidden {
        opacity: 0;
    }

    .nav-2 {
        display: flex;
        margin-left: 105px;
    }

    .nav-3 {
        display: flex;
        margin-left: 105px;
    }
}

@media (max-width: 440px) {
    .logo{
        width: 25vw;
        height: 9.5vh;
    }
    .lines:hover {
        cursor: pointer;
    }
    .lines {
        margin-left: -28px;
    }
    .home{
        display: none;
    }
    .additional_nav {
        display: flex;
        justify-content: space-between;
    }
    .drop-down{
        border: solid black;
        width: 50px;
        height: 30px;
        background-color: #125943;
        position: absolute;
        margin-top: 50px;
    }
}

@media (min-width: 441px) {
    .lines {
        display: none;
    }
}