#Modals {
    display: flex;
    justify-content: space-between;
    background-color: #125943;
    height: 7vh;
}

#a-tags {
    margin-left: 20px;
    display: flex;  
}

#a-tags > a {
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Modals > img:hover {
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout-button {
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112d66;
    height: 30px;
    width: 132px;
    font-family: 'Roboto';
    font-size: small; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;   
    outline: none;
    border: none;
}

#logout-button:hover {
    cursor: pointer;
    background-color: #173268;
}

#profile-button {
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112d66;
    height: 30px;
    width: 132px;
    font-family: 'Roboto';
    font-size: small;  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    border: none;
}

#profile-button:hover {
    cursor: pointer;
    background-color: #173268;
}

#signup-button {
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112d66;
    height: 30px;
    width: 132px;
    font-family: 'Roboto';
    font-size: small;  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;       
}

#signup-button:hover {
    cursor: pointer;
    background-color: #173268
}

#login-button {
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112d66;
    height: 30px;
    width: 132px;
    font-family: 'Roboto';
    font-size: small;    
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    border: none;
}

#login-button:hover {
    cursor: pointer;
    background-color: #173268;
}

.additional_nav {
    border-bottom: solid #A7B0CA 1px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 10vh;
    width: 11vw;
    margin-left: 20px;
}

.logo:hover {
    cursor: pointer;
}

.nav-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-2 > div {
    margin: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 2px 10px;
}

.nav-2 > div:hover {
    cursor: pointer;
}

.nav-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-3 > div {
    margin: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 2px 10px;
}

.nav-3 > div:hover {
    cursor: pointer;
}

.contact {
    margin: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 2px 10px;
    text-decoration: none;
    color: black;
}

.contact:hover {
    cursor: pointer;
}

@media (max-width: 721px) {
    #hidden {
        display: none;
    }

    .nav-2 {
        display: flex;
        margin-left: 105px;
    }

    .nav-3 {
        display: flex;
        margin-left: 105px;
    }
}

@media (max-width: 440px) {
    .logo{
        width: 25vw;
        height: 9.5vh;
    }
    .lines{
        position: absolute;
        margin-left: -1%;
        margin-top: -1%;
    }
    .nav-buttons{
        position: absolute;
        margin-left: -1%;
        margin-top: -1%;
    }
    .lines:hover {
        cursor: pointer;
    }
    .home{
        display: none;
    }
    .additional_nav {
        display: flex;
        justify-content: space-between;
    }
    #hidden {
        display: none;
    }
    #centered {
        display: none;
    }
    .dropdown-menu {
        position: absolute;
        padding: 7px;
        background-color: whitesmoke;
        border-radius: 5%;
        margin-left: -18%;
        margin-top: 4%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
        z-index: 9999;     
    }
    .dropdown {
        font-family: 'Roboto';
        font-weight: normal;
        font-size: 14.5px;
        padding: 5px;
        border-bottom: solid grey 1px;
        z-index: 9999;     
    }
    .dropdown:hover{
        background-color: #A7B0CA;
    }
    #Contact {
        text-decoration: none;
        color: black;
        border-bottom: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-item {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    
}

@media (min-width: 441px) {
    .lines {
        display: none;
    }
    .nav-item {
        display: none;
    }
    #centered{
        display: none;
    }
    #hidden{
        display: none;
    }
}